<header>
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://i1.sndcdn.com/avatars-000241355186-tjmv6k-t500x500.jpg');
      height: 937px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 130px" >
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <div class="row">
            <div class="col-4">
              <p class="mb-3"><a role="button" routerLink="/role">Afficher mon role</a></p>
            </div>
            <div class="col-4"><p class="mb-3"><a routerLink="/UpdateRole" role="button">Modifier mon role</a></p></div>
            <div class="col-4"><p class="mb-3"><a role="button" routerLink="/ami">Ajouter un Ami</a></p></div>
            <a class="btn btn-danger btn-lg btn-block" href="#!" role="button">Se deconnecter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
