
<header style="
      background-image: url('https://th.bing.com/th/id/OIP.lzq8HSJVGoqwwNrlnPfL8QHaFz?w=240&h=187&c=7&r=0&o=5&pid=1.7');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; ">
  <div class="jumbotron jumbotron-fluid text-center bg-image" >
    <div class="container">
      <h1 class="display-4">Bienvenue sur la homepage</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-3">
          <a class="btn btn-primary" href="/role">Afficher mon role</a>
        </p>
      </div>
      <div class="col-sm-3">
        <p class="mb-3">
          <a class="btn btn-primary" href="/UpdateRole">Modifier mon role</a>
        </p>
      </div>
      <div class="col-sm-3">
        <p class="mb-3">
          <a class="btn btn-primary" href="/ami">Ajouter un Ami</a>
        </p>
      </div>
      <div class="col-sm-3">
        <p class="mb-3">
          <a class="btn btn-primary" href="/mesamis">Voir mes amis</a>
        </p>
      </div>
    </div>
    <div class="text-center mt-3">
      <a class="btn btn-danger" href="/login" (click)="ClearLocalStorageToken()">Se déconnecter</a>
    </div>
  </div>
</header>
